<ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
      
                <input type="checkbox" aria-label="Checkbox for following text input" value="true">
              </div>
            </div>
            <input type="text" class="form-control" value="username" style="text-align: center"
              aria-label="Text input with checkbox" readonly="readonly">
            <input type="text" class="form-control" value="username@example.com" style="text-align: center"
              aria-label="Text input with checkbox" readonly="readonly">
      
          </div>
        </li>
      </ul>