<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>
  </head>

  <body>

    <% include ../static/partials/navbar.ejs %>
    <main class="main-container">
      <h1>Downgrade to free user</h1>
      <div class="row">
        <div class="col-md-8">
          <form action="/users/<%= currentUser.id %>/downgrade" method="post">
            <button type="submit" class="btn btn-primary btn-lg">Free User</button>
          </form>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>