<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>
  </head>

  <body>

    <% include ../static/partials/navbar.ejs %>
    <main class="main-container">

        <div class="card" style=max-width:100%;>
        
          <div class="card-body">
            <h5 class="card-title">Upgrade to Premium</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <form action="/users/<%= currentUser.id %>/upgrade" method="post">
              <script
                src='https://checkout.stripe.com/v2/checkout.js'
                class='stripe-button'
                data-key='pk_test_81nUK1O4tD2VhKyRjkoiCD0a00qa5CUcDZ'
                data-amount='1500'
                data-locale='auto'
                data-name='Upgrade Account'
                data-description='Upgrade account to premium'>
              </script>
            </form>
            
          </div>
        </div>
     

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>